<html> 
<body> 
<p>
<h1> Created using ansible template </h1>
<h2> Here we will do varaible substitution </h2>
</p>
<p> This server is running on {{os_family}} and has hostname {{node_name}}
    onemore sample varaible is {{test_var}}. 
</p>
</body>
</html>
